/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body {
		margin: 0px;
		padding: 0px;
		background: #000000;
		font-family: 'Raleway', sans-serif;
		font-size: 11pt;
		color: #000000;
	}

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	h2 {
		padding: 0px 0px 20px 0px;
		letter-spacing: -1px;
		font-size: 1.8em;
		text-align: center;
	}

	p, ol, ul {
		margin-top: 0px;
		line-height: 160%;
	}

	p {
		margin-bottom: 2em;
		line-height: 160%;
		text-align: center;
	}


	strong {
		font-weight: 700;
	}

	a {
		color: #A2A2A2;
	}

	a:hover {
		text-decoration: none;
	}

		/* Images */

			.image
			{
				display: inline-block;
			}
			
				.image img
				{
					display: block;
					width: 100%;
				}

				.image.featured
				{
					display: block;
					width: 100%;
					margin: 0 0 2em 0;
				}
				
				.image.full
				{
					display: block;
					width: 100%;
					margin-bottom: 2em;
				}
				
				.image.left
				{
					float: left;
					margin: 0 2em 2em 0;
				}
				
				.image.centered
				{
					display: block;
					margin: 0 0 2em 0;
				}

					.image.centered img
					{
						margin: 0 auto;
						width: auto;
					}
/* 
		header
		{
			margin-bottom: 1em;
		}
			
			header h2
			{
				font-weight: 600;
			}
		
			header .byline
			{
				display: block;
				margin: 0.5em 0 0 0;
				padding: 0 0 0.5em 0;
			}
 */
		ul.style
		{
		}
		
		ul.style li
		{
			padding: 0.55em 0em;
		}
		
		ul.style li:first-child
		{
		}
		
		ul.style a
		{
			color: #774535 !important;
		}

		ul.style1
		{
		}
		
		ul.style1 li
		{
			padding: 0.55em 0em;
		}
		
		ul.style1 li:first-child
		{
		}
		
		ul.style1 a
		{
			color: #774535 !important;
		}

		ul.style1 img
		{
			float: left;
			margin-right: 1em;
		}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	
	
	/* #header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 6em 0em;
		}
 */
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		left: 0em;
		top: 4.5em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo a
		{
			display: block;
			text-decoration: none;
			font-size: 2.8em;
			font-weight: 600;
			color: #FFF;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 0em;
		top: 5em;
	}

		#nav > ul > li
		{
			float: left;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				margin-left: 0.7em;
				padding: 0.80em 1.2em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-size: 1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				background: #56c9d6;
				border-radius: 5px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner 
	{
		position: relative;
		background: url(../../images/storeimg/banner_twice.jpg) no-repeat center; 
		background-size: cover;
	}
	
	.homepage #banner
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		padding: 6em 0em;
		background: #191919;
		color: #A6A6A6;
	}
	
	#main header h2
	{
		color: #A6A6A6;
	}
	
	#main a
	{
		color: #A6A6A6;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		position: relative;
		padding: 6em 0em 4em 0em;
		background-color: white;
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		position: relative;
		padding: 6em 0em;
		background: #212121;
		color: #EAEAEA;
	}
	
	#marketing header h2
	{
		color: #A6A6A6;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #A6A6A6  ;
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #774535 !important;
	}		
	
	.style1{
		float: left;
	}
	
	.3u{
		float: left;
	}
	
	/**************************************************/
	/* #my_first{
		float: left;
		width: 500px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	} */
	
	/* *{margin:0;padding:0;}
    ul,li{list-style:none;}
    .slide{height:454px;overflow:hidden;position:relative;}
    .slide ul{width:calc(100% * 4); display:flex; transition:1s; animation: slide 8s infinite; }
    .slide li{width:calc(100% / 4);height:454px;} 
    .slide li:nth-child(1){background: url(../../images/storeimg/banner_twice12.png) no-repeat center; }
    .slide li:nth-child(2){background: url(../../images/storeimg/banner_twice2.jpg) no-repeat center; }
    .slide li:nth-child(3){background: url(../../images/storeimg/banner_twice3.jpg) no-repeat center; }
    .slide li:nth-child(4){background: url(../../images/storeimg/banner_twice4.jpg) no-repeat center; }
    .slide input{display:none;}	
    .slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
    .slide .bullet label{width:10px;height:10px;border-radius:10px;border:2px solid #666;display:inline-block;background:#fff;font-size:0;transition:0.5s;cursor:pointer;}
    �뒳�씪�씠�뱶 議곗옉
    #pos1:checked ~ ul{margin-left:0;}
    #pos2:checked ~ ul{margin-left:-100%;}
    #pos3:checked ~ ul{margin-left:-200%;}
    #pos4:checked ~ ul{margin-left:-300%;}
    bullet 議곗옉
    #pos1:checked ~ .bullet label:nth-child(1),
    #pos2:checked ~ .bullet label:nth-child(2),
    #pos3:checked ~ .bullet label:nth-child(3),
    #pos4:checked ~ .bullet label:nth-child(4){background:#666;} */
    *{margin:0;padding:0;}
    ul,li{list-style:none;}
    .slide{height:454px;overflow:hidden;position:relative;}
    .slide ul{width:calc(100% * 4);display:flex;animation:slide 20s infinite;} /* slide瑜� 8珥덈룞�븞 吏꾪뻾�븯硫� 臾댄븳諛섎났 �븿 */
    .slide li{width:calc(100% / 4);height:454px;}
   /*  .slide li:nth-child(1){background:#ffa;}
    .slide li:nth-child(2){background:#faa;}
    .slide li:nth-child(3){background:#afa;}
    .slide li:nth-child(4){background:#aaf;} */
    .slide li:nth-child(1){background: url(../../images/storeimg/banner_twice12.png) no-repeat center; }
    .slide li:nth-child(2){background: url(../../images/storeimg/banner_twice2.jpg) no-repeat center; }
    .slide li:nth-child(3){background: url(../../images/storeimg/banner_twice3.jpg) no-repeat center; }
    .slide li:nth-child(4){background: url(../../images/storeimg/banner_twice4.jpg) no-repeat center; }
    @keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : �젙吏� */
      10% {margin-left:0;} /* 10 ~ 25 : 蹂��씠 */
      25% {margin-left:-100%;} /* 25 ~ 35 : �젙吏� */
      35% {margin-left:-100%;} /* 35 ~ 50 : 蹂��씠 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
    }
    
    /* #pos1:checked ~ ul{margin-left:0;}
    #pos2:checked ~ ul{margin-left:-100%;}
    #pos3:checked ~ ul{margin-left:-200%;}
    #pos4:checked ~ ul{margin-left:-300%;}
    
    .slide input{display:none;}	
    .slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
    .slide .bullet label{width:10px;height:10px;border-radius:10px;border:2px solid #666;display:inline-block;background:#fff;font-size:0;transition:0.5s;cursor:pointer;}
    #pos1:checked ~ .bullet label:nth-child(1),
    #pos2:checked ~ .bullet label:nth-child(2),
    #pos3:checked ~ .bullet label:nth-child(3),
    #pos4:checked ~ .bullet label:nth-child(4){background:#666;} */ */
    
    /*****************************************************/
    /* footer 遺�遺� CSS */
#footer {
   z-index: 1;
   position: fixed;
   top: 93%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: white;
}

#social {
   text-align: center;
   padding-top: 10px;
   background-color: white;
}

.green_window {
	display: inline-block;
	width: 366px; height: 34px;
	border: 3px solid black;
	background: white;
	float: right;
}

.input_text {
	width: 348px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}

.sch_smit {
	width: 54px; height: 34px;
	margin: 0; border: 0;
	vertical-align: top;
	background: black;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
	float: right;
	margin-right: -419px;
}

.sch_smit:hover {
	background: black;
}
	